{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <form>
        <div class="row rowparametres">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 boutonparametres">
                <button class="submitbuttonpublier">Modifier mon profil</button>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 boutonparametres">
                <button class="submitbuttonpublier">Mes notes et avis</button>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 boutonparametres">
                <button class="submitbuttonpublier">Mentions légales</button>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 boutonparametres">
                <button class="submitbuttonpublier">Supprimer le compte</button>
            </div>
        </div>
    </form>
    <br>
{% endblock %}